@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mountains+of+Christmas&display=swap");

:root {
  --main-color: #ceac5c;
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: ivory; */
  background-image: url("./images/background.jpg");
  font-size: 64px;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
  cursor: default;
}

.UI {
  color: white;
  position: absolute;
  z-index: 50;
  width: 96%;
  display: flex;
  justify-content: space-between;
  font-family: "Mountains of Christmas", sans-serif;
  user-select: none;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.in-game-shadow {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: #000000 12px 0 15px;
}

.UI-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.time-remaining {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.timer-icon {
  padding-right: 36px;
}


.title-img {
  width: 100%;
  pointer-events: none;
}

.menu-screen {
  font-family: "Mountains of Christmas", sans-serif;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-width: 50%;
  color: black;
  border-radius: 48px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 24px;
  text-align: center;
}

.menu-options {
  margin-top: 10%;
  width: 50%;
  text-align: center;
}

.menu-row {
  border-radius: 50px;
  margin-bottom: 20px;
  
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.menu-detail {
  font-size: 32px;
}

.return-btn {
  margin-top: 10%;
}

.end-modal {
  margin-left: auto;
  margin-right: auto;
  padding: 36px;
  background-color: white;
  text-shadow: none;
  color: black;
  border-radius: 36px;
  text-align: center;
}

.end-modal-detail {
  font-size: 36px;
}

.btn {
  background-color: darkgray;
}
.btn:hover {
  background-color: gray;
}

.end-modal-btn {
  width: 30%;
  font-size: 36px;
  margin-top: 20px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-1 {
  margin-right: 24px;
}

.end-modal-submit-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 55px;
}

.submit-score-name-input {
  /* background-color: black;
  color: white; */
  font-size: 36px;
  font-family: "Mountains of Christmas", sans-serif;
  letter-spacing: .1rem;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}


.submit-score-btn {
  border-end-end-radius: 40px;
  border-start-end-radius: 40px;
  padding-right: 20px;
  padding-left: 12px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.end-modal-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}