@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mountains+of+Christmas&display=swap");

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
  font-size: 64px;
}

.UI {
  position: absolute;
  color: white;
  z-index: 50;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: #000 1px 0 10px;  /* font-family: "Mountains of Christmas", serif; */
}
